body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("src/assets/images/sunset.jpg");
  background-size: cover;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: azure;
}

.flex-container {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.title-container {
  display: inline-block;
  width: fit-content;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 2px;
  border-right: 5px solid;
  /* padding-right: 5px; */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: 
    typing 2s steps(13),
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
  50% { border-color: transparent; }
}

@keyframes typing {
  from { width: 0 }
}