body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("src/assets/images/sunset.jpg");
  background-size: cover;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: azure;
}

nav {
  background-color: rgba(171, 56, 30, 0.279);
  box-shadow: rgba(171, 56, 30, 0.279) 1px 1px 10px 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30rem;
  padding-top: 0.3rem;
}

nav>* {
  text-decoration: none;
  color: white;
  font-size: 1.15rem;
  font-weight: 550;
  transition: 0.3s;
}

nav>*:hover {
  text-shadow: 1px 1px 20px white;
  /* transform: scale(1.02); */
}

.home-flex-container {
  display: flex;
  height: 70vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30rem;
}

.title-container {
  display: inline-block;
  width: fit-content;
}

.title {
  margin-bottom: 0.3rem;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 2px;
  border-right: 5px solid;
  /* padding-right: 5px; */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:
    typing 2s steps(13),
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0
  }
}

.about-flex-container {
  margin-top: 7vh;
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: fadeIn 0.7s;
  transition: 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.profile-photo {
  width: 10rem;
  border-radius: 50%;
  box-shadow: 1px 1px 7px 2px;
}

.about-description {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.314);
  box-shadow: rgba(0, 0, 0, 0.314) 1px 1px 10px 10px;
  text-align: center;
  width: 30rem;
  font-weight: 500;
  font-style: italic;
  font-size: 1.07rem;
}

.home-description {
  text-align: center;
  width: 40rem;
  font-weight: 500;
  font-style: italic;
  font-size: 1.07rem;
  animation: fadeIn 5s;
  transition: 3s;
}

.logos-container {
  width: 8rem;
  display: flex;
  justify-content: space-between;
  animation: fadeIn 5s;
  transition: 3s;
}

.logos-container>* {
  transition: 0.3s;
}

.logos-container>*:hover {
  transform: scale(1.05);
}