body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("src/assets/images/sunset.jpg");
  background-size: cover;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: azure;
}

nav {
  background-color: rgba(171, 56, 30, 0.279);
  box-shadow: rgba(171, 56, 30, 0.279) 1px 1px 10px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 30rem;
  padding-top: 0.3rem;
}

h1 {
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  text-align: center;
}

nav>* {
  text-decoration: none;
  color: white;
  font-size: 1.15rem;
  font-weight: 550;
  transition: 1s;
}

nav>*:hover {
  text-shadow: 1px 1px 20px white;
  /* transform: scale(1.02); */
}

.home-flex-container {
  display: flex;
  height: 77vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30rem;
}

.title-container {
  display: inline-block;
  width: fit-content;
}

.title {
  margin-bottom: 0.3rem;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 2px;
  border-right: 5px solid;
  /* padding-right: 5px; */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:
    typing 2s steps(13),
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0
  }
}

.about-flex-container {
  margin-top: 7vh;
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: fadeIn 0.7s;
  transition: 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.profile-photo {
  width: 10rem;
  border-radius: 50%;
  box-shadow: 1px 1px 7px 2px;
}

.about-description {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.314);
  box-shadow: rgba(0, 0, 0, 0.314) 1px 1px 10px 10px;
  text-align: center;
  width: 30rem;
  font-weight: 500;
  font-style: italic;
  font-size: 1.07rem;
}

.home-description {
  text-align: center;
  width: 40rem;
  font-weight: 500;
  font-style: italic;
  font-size: 1.07rem;
  animation: fadeIn 5s;
  transition: 3s;
}

.logos-container {
  width: 8rem;
  display: flex;
  justify-content: space-between;
  animation: fadeIn 5s;
}

.logos-container>* {
  transition: 1s;
}

.logos-container>*:hover {
  transform: scale(1.05);
}

.work-grid {
  height: 80vh;
  display: grid;
  grid-template-rows: 2fr 1fr;
  animation: fadeIn 0.7s;
}

.projects-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  width: 20rem;
  height: 13rem;
  border-radius: 15px;
  margin: 1rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 1s;

}

.project-links {
  width: 19.6rem;
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  opacity: 0;
  transition: 0.3s;
}

.project-links>a {
  padding: 1rem 3.5rem;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.071);
  transition: 0.3s;
}

.project-links>a:hover {
  background-color: rgba(0, 0, 0, 0.563);
}

.project>p {
  font-size: 1.1rem;
  font-weight: 500;
}

.project:hover {
  filter: grayscale(30%);
  transform: scale(1.02);
}

.project:hover>.project-links {
  opacity: 1;
}

.skills-flex-container {
  padding: 0 10vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.skills-flex-container>* {
  padding: 0.1rem;
  animation: floatAround 2s;
  animation-iteration-count: infinite;
}

@keyframes floatAround {
  0% {
    transform: 0;
  }

  33% {
    transform: rotate(3deg);
  }

  66% {
    transform: rotate(-3deg);
  }

  100% {
    transform: 0;
  }
}

.icon {
  width: 4rem;
}

#blogapp {
  background-image: url('src/assets/images/projects/blogapp.png');
}

#more-than-music {
  background-image: url('src/assets/images/projects/more-than-music.jpg');
}

#streemer {
  background-image: url('src/assets/images/projects/streemer.jpg');
}

#spaceman-baseball {
  background-image: url('src/assets/images/projects/spaceman-baseball.jpg');
}

#download-button {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.108);
  border: 3px solid white;
  border-radius:7px;
  padding: 1rem;
  margin-top: 1rem;
  animation: fadeIn 3s;
  transition: 1s;
}

#download-button:hover {
  transform: scale(1.02);
  text-shadow: 1px 1px 20px white;
  box-shadow: 1px 1px 7px 2px;
}